.app-container {
  min-height: 100vh; /* Займає всю висоту вікна для забезпечення футера знизу */
  display: flex;
  flex-direction: column;
}

.container {
  flex-grow: 1; /* Розширює основний вміст, щоб футер залишався внизу */
}